*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: auto;
  background-color:  #ffffff;
  margin: 0;
}

/* --------------------------- */

.header {
  width: 100%;
  overflow: hidden;
  /* display: block; */
  background-color: #ffffff;
  padding: 10px 30px;
  /* margin: auto; */
  height: 70px;
  /* line-height: 30px; */
}

.header a{
  float: left;
display: block;
color: #dddddd;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 18px;
}

.header-1 {
  overflow: hidden;
  display: none;
  background-color: #ffffff;
  padding: 10px 10px;
  margin: auto;
}

header::after {
  content: "";
  clear: both;
  display: table;
}

.header-left {
  float: left;
  line-height: 30px;
  /* padding: 10px;
  line-height: 1.5px; */
}
.header-left a {
  text-decoration: none;
  padding: 10px 0;
}

.headerlogo{
  width: 150px;
  height: 50px;
  padding: 10px;
}

#title {
  padding: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #dddddd;
  line-height: 10px;
}

#title:hover {
  /* border: 1px solid #dddddd; */
}

.header-mid {
  display: block;
  justify-content: center;
  padding-left: 500px;
  line-height: 30px;
}

.header-mid a{
  color: #000000;
}

.header-right {
  float: right;
  line-height: 30px;
  /* padding-top: 15px; */
}

.header-right a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #dddddd;
}

.header-right a:hover {
  color: #007BFF;
  /* border: 1px solid #dddddd; */
}

/* mobile view  */

.mobile-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mobile-sidebar a {
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.mobile-sidebar a:hover {
    color: #dddddd;
    background-color: #ffffff;
}

.mobile-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  margin-right: 20px;
}

.openbtn {
  font-size: 30px;
  line-height: 14px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 5px;
  border: none;
  display: none;
}

#header {
  transition: margin-right .5s;
  padding: 16px;
}

/* mobile view end  */

/* ------------------------- */


.header-mid a:hover{
  color: #271818;
  box-shadow: 0 2px 2px 0 #848484;
}


header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  /* max-width: 1500px; */
  /* margin-top: 1%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 50px;
  padding: 10px 30px;
}

.navbar #logo{
  float: left;
}

.navbar #logo1{
  float: right;
}

.navbar img {
  width: 150px;
  padding: 5px;
}


.navbar .toggle_btn{
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .links{
  width: 60%;
  gap: 2rem;
  text-align: center;
}

.navbar li {
  display: inline;
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 30px;
}




.container {
  max-width: 1400px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 10%;
  overflow: hidden;
  padding: 20px 20px;
  box-shadow: 0 4px 6px 0 #181818;
  color: #000000;
}

.grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: #f5f5f5b8; 
}

.center {
  text-align: center;
  margin: auto;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 35px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: sans-serif;
}


#about{
  width: 85%;
  height: 85%;
} 


#vishal{
  width: 85%;
  height: 85%;
} 

#lalit{
  width: 85%;
  height: 85%;
} 

.bg-light {
  margin:40px;
  color: #dddddd;
}



/* Whatsapp dashboard */

.blank {
  flex: 20%;
}

.whatsapp-grid::after{
  content: "";
  display: table;
  clear: both;
}
.whatsapp-grid{
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

.whatsapp{
  flex: 50%;
  float: left;
  width: 100%;
  /* padding: 10px; */
  height: auto;
}

.whatsapp p {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 10px 10px;
}

.whatsapp-button {
  padding: 10px 10px;
}


#wh-img{
  width: 400px;
  height: 400px;
}

.whatsapp h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 10px 10px;
  /* margin: 5px 5px; */
  word-wrap: normal;
  text-align: left;
}

.whatsapp h4{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 10px 10px;
  /* margin: 5px 5px; */
  word-wrap:normal;
  text-emphasis: left;
}

#whatsapp{
    background-color: #0e8a00;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    /* margin: 10px 10px; */
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    /* margin-left: 20px; */
    border-radius: 5px;
}

#whatsapp a{
  color: white;
  text-align: center;
  text-decoration: none;
}
  
#whatsapp:hover {opacity: 1}

/* Whatsapp dashboard end */


/* Footer start */
.footer {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  background-color: #1f1f1f;
  padding: 10px;
  color: white;
}
.footer-col {
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
.footer-col h1{
  font-family: sans-serif;
  font-size: 30px;
  text-align: left;
  padding-bottom: 20px;
  font-weight: bold;
}
.footer-col h4{
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  font-weight: normal;
  color: #bbb;
}
.footer-col p{
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  color: #bbb;
}



#footer-about{
  color: #bbb;
  text-decoration: none;
}
#footer-about:hover{
  color: white;
}

#footer-blog{
  color: #bbb;
  text-decoration: none;
}
#footer-blog:hover{
  color: white;
}

#footer-ptshirt{
  color: #bbb;
  text-decoration: none;
}
#footer-ptshirt:hover{
  color: white;
}


#footer-rntshirt{
  color: #bbb;
  text-decoration: none;
}
#footer-rntshirt:hover{
  color: white;
}


#footer-jersey{
  color: #bbb;
  text-decoration: none;
}
#footer-jersey:hover{
  color: white;
}


#footer-couptshirts{
  color: #bbb;
  text-decoration: none;
}
#footer-couptshirts:hover{
  color: white;
}

#footer-ideas{
  color: #bbb;
  text-decoration: none;
}
#footer-ideas:hover{
  color: white;
}

#footer-hoodie{
  color: #bbb;
  text-decoration: none;
}
#footer-hoodie:hover{
  color: white;
}

#footer-screen{
  color: #bbb;
  text-decoration: none;
}
#footer-screen:hover{
  color: white;
}

#footer-Sublimation{
  color: #bbb;
  text-decoration: none;
}
#footer-Sublimation:hover{
  color: white;
}

#footer-embroidery{
  color: #bbb;
  text-decoration: none;
}
#footer-embroidery:hover{
  color: white;
}

#footer-dtf{
  color: #bbb;
  text-decoration: none;
}
#footer-dtf:hover{
  color: white;
}
/* Footer end */


/* responsive template css  */

@media screen and (min-width:600px) and (max-width:1024px) {
  .header-mid a{display: none;}
  .headerlogo {width: 150px;height: 50px;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
  .navbar .links{display: none;}
  .banner-img{height: 65vh;}
  .trusted-content {grid-template-columns: repeat(6,minmax(0,1fr));padding: 10px 30px;}
  .container2 {grid-template-columns: repeat(4,minmax(0,1fr));justify-content: center;align-items: center;}
  /* .card01 {display: flex;justify-content: center;align-items: center;} */
  .card-title {font-size: 14px;}
  .card-title01{font-size: 14px;}
  .card-title01{font-size: 14px;}
  .card-container {grid-template-columns: auto auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
   }
   .card img {width: 200px;height: 200px;}
  .card01 {width: 50%;}
  /* .whatsapp-grid {flex-direction: column;align-items: center;} */
  /* .whatsapp {float: none;} */
  .whatsapp h1 {font-size: 36px;}
  #wh-img {width: 300px;height: 300px;}
  .banner { float: none;width: 100%;}
  .s2-content {width: 100%;}
  .footer {grid-template-columns: repeat(2,minmax(0,1fr));}
  .footer-cust-logo {grid-template-columns: repeat(3,minmax(0,1fr)); padding: 0 30px;margin: 10px 0;}
  .footer-col {width: 100%;text-align: left;}
  .footer-col h1 {text-align: left;}
  .footer-col h4 {text-align: left;}
  .footer-col p {text-align: left;}
  .h2, .p{text-wrap: balance;}
  .blank{flex-wrap: 15px;}
}

@media screen and (min-width:450px) and (max-width:600px) {
  .header-mid {display: none;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
  .navbar .links{display: none;}
  .banner-img{height: 50vh;}
  .trusted-content {grid-template-columns: repeat(3,minmax(0,1fr));padding: 10px 30px;}
  .container2 {grid-template-columns: repeat(3,minmax(0,1fr));justify-content: center;align-items: center;}
  /* .card01 {display: flex;justify-content: center;align-items: center;} */
  .card-title {font-size: 14px;}
  .card-title01{font-size: 14px;}
  .card-title01{font-size: 14px;}
  .card-container {grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
   }
   .card img {width: 250px;height: 250px;}
  .card01 {width: 50%;}
  .whatsapp-grid {flex-direction: column;align-items: center;}
  .whatsapp {float: none;}
  #wh-img {width: 300px;height: 300px;}
  .banner { float: none;width: 100%;}
  .s2-content {width: 100%;}
  .footer {grid-template-columns: repeat(2,minmax(0,1fr));}
  .footer-cust-logo {grid-template-columns: repeat(3,minmax(0,1fr)); padding: 0 30px;margin: 10px 0;}
  .footer-col {width: 100%;text-align: left;}
  .footer-col h1 {text-align: left;}
  .footer-col h4 {text-align: left;}
  .footer-col p {text-align: left;}
  .h2, .p{text-wrap: balance;}
  .blank{flex-wrap: 10x;}
}

@media screen and (min-width:300px) and (max-width:450px) {
  .header-mid {display: none;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
  .navbar .links{display: none;}
  .banner-img{height: 30vh;}
  .trusted-content {grid-template-columns: repeat(3,minmax(0,1fr));padding: 10px 30px;}
  .container2 {grid-template-columns: repeat(3,minmax(0,1fr));justify-content: center;align-items: center;}
  /* .card01 {display: flex;justify-content: center;align-items: center;} */
  .card-title {font-size: 14px;}
  .card-title01{font-size: 14px;}
  .card-container {grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
   }
   .card img {width: 100px;height: 100px;}
  .card01 {width: 50%;}
  .whatsapp-grid {flex-direction: column;align-items: center;}
  .whatsapp {float: none;}
  #wh-img {width: 250px;height: 250px;}
  .banner { float: none;width: 100%;}
  .s2-content {width: 100%;}
  .footer {grid-template-columns: repeat(2,minmax(0,1fr));}
  .footer-cust-logo {grid-template-columns: repeat(3,minmax(0,1fr)); padding: 0 30px;margin: 10px 0;}
  .footer-col {width: 100%;text-align: left;}
  .footer-col h1 {text-align: left;}
  .footer-col h4 {text-align: left;}
  .footer-col p {text-align: left;}
  .h2, .p{text-wrap: balance;}
  .blank{flex-wrap: 5px;}
}

@media screen and (max-width:300px) {
  .header-mid {display: none;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
  .navbar .links{display: none;}
  .banner-img{height: 30vh;}
  .trusted-content {grid-template-columns: repeat(2,minmax(0,1fr));}
  .container2 {grid-template-columns: repeat(2,minmax(0,1fr));justify-content: center;align-items: center;}
  /* .card01 {display: flex;justify-content: center;align-items: center;} */
  .card-title {font-size: 10px;}
  .card-title01{font-size: 14px;}
  .card-container {grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
   }
   .card img {width: 100px;height: 100px;}
  .card01 {width: 50%;}
  .whatsapp-grid {flex-direction: column;align-items: center;}
  .whatsapp {float: none;}
  .whatsapp h1 {font-size: 28px;}
  #wh-img {width: 200px;height: 200px;}
  .banner { float: none;width: 100%;}
  .s2-content {width: 100%;}
  .footer {grid-template-columns: repeat(1,minmax(0,1fr));}
  .footer-cust-logo {grid-template-columns: repeat(2,minmax(0,1fr)); padding: 0 30px;margin: 10px 0;}
  .footer-col {width: 100%;text-align: left;}
  .footer-col h1 {text-align: left;}
  .footer-col h4 {text-align: left;}
  .footer-col p {text-align: left;}
  .h2, .p{text-wrap: balance;}
  .blank{flex-wrap: 5px;}
}