*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  background-color:  #ffffff;
}



/* li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

a:hover{
  color: rgba(0, 106, 255, 0.942);
}


header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  -webkit-filter: drop-shadow(4px 4px 4px rgb(193, 190, 190));
  filter: drop-shadow(4px 4px 4px rgb(214, 214, 214));
}

.navbar #logo{
  width: 15%;
  height: auto;  
  height: 100%;
  padding: 5px;
}

.navbar #logo1{
  width: 15%;
  height: auto; 
  padding: 5px;
}

#logo1:hover{
  -webkit-filter: drop-shadow(4px 4px 4px rgb(45, 255, 34));
  filter: drop-shadow(4px 4px 4px rgb(45, 255, 34));
}

.navbar .toggle_btn{
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .links{
  display: flex;
  gap: 2rem;
} */

/* ----------------navbar------------- */

.header {
  width: 100%;
  overflow: hidden;
  /* display: block; */
  background-color: #ffffff;
  padding: 10px 30px;
  /* margin: auto; */
  height: 70px;
  /*box-shadow: 0 2px 4px 0 #181818;*/
  /* line-height: 30px; */
}

.header a{
  float: left;
display: block;
color: #dddddd;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 18px;
}

.header-1 {
  overflow: hidden;
  display: none;
  background-color: #ffffff;
  padding: 10px 10px;
  margin: auto;
  /*box-shadow: 0 2px 4px 0 #181818;*/
}

header::after {
  content: "";
  clear: both;
  display: table;
}

.header-left {
  float: left;
  line-height: 30px;
  /* padding: 10px;
  line-height: 1.5px; */
}
.header-left a {
  text-decoration: none;
  padding: 10px 0;
}

.headerlogo{
  width: 150px;
  height: 50px;
  padding: 10px;
}

#title {
  padding: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #dddddd;
  line-height: 10px;
}

#title:hover {
  /* border: 1px solid #dddddd; */
}

.header-mid {
  display: block;
  justify-content: center;
  padding-left: 500px;
  line-height: 30px;
}

.header-mid a{
  color: #000000;
}

.header-mid a:hover{
  color: #271818;
  box-shadow: 0 2px 2px 0 #848484;
}

.header-right {
  float: right;
  line-height: 30px;
  /* padding-top: 15px; */
}

.header-right a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #dddddd;
}

/* mobile view  */

.mobile-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mobile-sidebar a {
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.mobile-sidebar a:hover {
    color: #dddddd;
    background-color: #ffffff;
}

.mobile-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  margin-right: 20px;
}

.openbtn {
  font-size: 30px;
  line-height: 14px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 5px;
  border: none;
  display: none;
}

#header {
  transition: margin-right .5s;
  padding: 16px;
}

/* mobile view end  */

/* ----------------navbar------------- */


.container {
  width: 100%;
  height: auto;
  /* margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 10%; */
  margin: 50px auto;
  overflow: hidden;
  padding: 20px 80px;
  color: #000000;
}

.grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* place-items: center; */
  background-color: #f5f5f5b8; 
  box-shadow: 0 4px 6px 0 #181818;
  padding: 15px;
  word-wrap: break-word;
}

.center {
  text-align: center;
  margin: auto;
}

.grid-text p{
  padding-top: 20px;
  display: block;
}

/* p {
  display: block;
  padding-top: 20px;
} */

h2 {
  display: block;
}


#about{
  width: 300px;
  height: 300px;
} 


#vishalimg{
  width: 300px;
  height: 300px;
} 

#lalitimg{
  width: 300px;
  height: 300px;
} 

.bg-light {
  /* margin:40px; */
  color: #dddddd;
}


/* Footer start */
.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #1f1f1f;
  padding: 10px;
  color: white;
}
.footer-col {
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.footer-col h1{
  font-family: sans-serif;
  font-size: 30px;
  text-align: left;
  padding-bottom: 20px;
  font-weight: bold;
}
.footer-col h4{
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  font-weight: normal;
  color: #bbb;
}
.footer-col p{
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  color: #bbb;
}



#footer-about{
  color: #bbb;
  text-decoration: none;
}
#footer-about:hover{
  color: white;
}

#footer-blog{
  color: #bbb;
  text-decoration: none;
}
#footer-blog:hover{
  color: white;
}

#footer-ptshirt{
  color: #bbb;
  text-decoration: none;
}
#footer-ptshirt:hover{
  color: white;
}


#footer-rntshirt{
  color: #bbb;
  text-decoration: none;
}
#footer-rntshirt:hover{
  color: white;
}


#footer-jersey{
  color: #bbb;
  text-decoration: none;
}
#footer-jersey:hover{
  color: white;
}


#footer-couptshirts{
  color: #bbb;
  text-decoration: none;
}
#footer-couptshirts:hover{
  color: white;
}

#footer-ideas{
  color: #bbb;
  text-decoration: none;
}
#footer-ideas:hover{
  color: white;
}

#footer-hoodie{
  color: #bbb;
  text-decoration: none;
}
#footer-hoodie:hover{
  color: white;
}

#footer-screen{
  color: #bbb;
  text-decoration: none;
}
#footer-screen:hover{
  color: white;
}

#footer-Sublimation{
  color: #bbb;
  text-decoration: none;
}
#footer-Sublimation:hover{
  color: white;
}

#footer-embroidery{
  color: #bbb;
  text-decoration: none;
}
#footer-embroidery:hover{
  color: white;
}

#footer-dtf{
  color: #bbb;
  text-decoration: none;
}
#footer-dtf:hover{
  color: white;
}

.footer-col a{
  text-decoration: underline;
  color: #bbbbbb;
}
.footer-col a:hover{
  text-decoration: underline;
  color: #ffffff;
}
/* Footer end */

@media screen and (min-width:1000px) and (max-width:1100px) {
  .header-mid{padding-left: 370px;}
}


@media screen and (min-width:850px) and (max-width:1000px){
  .header-mid a{display: none;}
  .headerlogo {width: 150px;height: 50px;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
    .container{padding: 10px 30px;}
    .grid{ grid-template-columns: repeat(2, 1fr);}
}

@media screen and (min-width:550px) and (max-width:850px){
  .header-mid a{display: none;}
  .headerlogo {width: 150px;height: 50px;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
    .container{padding: 10px 30px;}
    .grid{ grid-template-columns: 1fr;}
    .footer{grid-template-columns: auto auto;}
}

@media screen and (min-width:300px) and (max-width:550px){
  .header-mid a{display: none;}
  .headerlogo {width: 150px;height: 50px;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
    .container{padding: 10px 30px;}
    .grid{ grid-template-columns: 1fr;}
    .footer{grid-template-columns: auto;}
}

@media screen and (max-width:300px){
  .header-mid a{display: none;}
  .headerlogo {width: 150px;height: 50px;}
  .mobile-sidebar a {font-size: 18px;}
    .openbtn {display: block;float: right; width: auto;line-height: 0px;margin: auto;}
    .header-right {display: none;padding-top: 0px;}
    .header {display: none;}
    .header-1 {display: block; width: 100%;height: 65px;line-height: 40px;}
    .grid{ grid-template-columns: 1fr;}
    .footer{grid-template-columns: auto;}
}