<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>About Us</title>
</head>
<body>

 <!-- --------------------------- -->

<div class="header">
  <div class="header-left">
      <a href="#" id="title"><img src="/media/img/23/logoblackH.png" alt="logo" id="logo" class="headerlogo"></a>
  </div>
  <div class="header-mid">
    <a href="/">Home</a>
    <a href="/product">Product</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </div>
  <div class="header-right">
      <div class="header-left">
        <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
    </div>
  </div>
</div>

<!-- mobile view  -->

<div class="header-1">
  <div class="header-left">
    <a href="#" id="title"><img src="/media/img/23/logoblackH.png"  alt="logo" id="logo" class="headerlogo"></a>
</div>
  <div id="sidebar" class="mobile-sidebar" style="width: 0px;">
      <div class="">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
      <div class="">
          <a href="/">Home</a>
          <a href="/product">Product</a>
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
      </div>
  </div>
  <div id="header" style="margin-left: 0px;">
      <button class="openbtn" onclick="openNav()">☰</button>
  </div>
</div>

<!-- mobile view end  -->

<!-- --------------------------------- -->
  
  <!--navbar end-->





 <!--<div class="shop-img">
  <img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\shop.jpg" alt="Shop Image">
 </div>-->

 <!--<section id="aboutus" class="bg-light">
  <div class="container">
      <div class="grid">
          <div class="center">
              <img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\shop.jpg" id="about">
          </div>
          <div>
              <h2>About Us</h2>
              <p>Welcome to Fabrista, your ultimate destination for exceptional T-shirt manufacturing, printing, and design. At the heart of our company is a passion for creativity, quality, and personalized expression.</p>
              <p> Customization is Key: We believe that every T-shirt should tell a story. Our custom design services empower you to turn your ideas into wearable art. Whether it's a single personalized piece or a bulk order for your brand, we provide endless possibilities for customization. Printing Mastery: Explore the art of printing with [Your Company Name]. Our printing techniques, including screen printing, sublimation, and embroidery, add depth and character to each T-shirt. Immerse yourself in a world of vibrant colors and intricate details.</p>
          </div>
      </div>
  </div>
</section>-->

<div class="whatsapp-grid">


  <div class="banner">
    <img src="/media/img/23/whatsapp1.jpeg" id="wh-img" alt="Image">
  </div>

  <div class="blank"></div>

  <div class="whatsapp">
    <h2>About Us</h2>
    <p>Welcome to Fabrista, your ultimate destination for exceptional T-shirt manufacturing, printing, and design. At the heart of our company is a passion for creativity, quality, and personalized expression.</p>
    <p> Customization is Key: We believe that every T-shirt should tell a story. Our custom design services empower you to turn your ideas into wearable art. Whether it's a single personalized piece or a bulk order for your brand, we provide endless possibilities for customization. Printing Mastery: Explore the art of printing with [Your Company Name]. Our printing techniques, including screen printing, sublimation, and embroidery, add depth and character to each T-shirt. Immerse yourself in a world of vibrant colors and intricate details.</p>
  </div>


</div>

<!--<section id="vishal" class="bg-light">
  <div class="container">
      <div class="grid">
          <div class="center">
              <img src="" id="vishal" alt="Image">
          </div>
          <div>
              <h2>Vishal Chaudhari</h2>
              <p> Meet Mr. Vishal Chaudhari the driving force behind Fabrista. With a passion for creativity and a background in Business management and T-shirt manufacturing, Vishal and Lalit founded the company to redefine self-expression through clothing. Under their visionary leadership, Fabrista has become synonymous with cutting-edge printing technologies, sustainable practices, and a commitment to customer satisfaction. Beyond business success, he actively engages in philanthropy, giving back to the community that has contributed to the company's growth. As Fabrista continues to thrive, he remains dedicated to innovation, quality, and positive social impact.</p>

          </div>
      </div>
  </div>
</section>-->

<div class="whatsapp-grid">
  <div class="whatsapp">
    <h2>Mr. Vishal Chaudhari</h2>
    <p> Meet Mr. Vishal Chaudhari the driving force behind Fabrista. With a passion for creativity and a background in Business management and T-shirt manufacturing, Vishal and Lalit founded the company to redefine self-expression through clothing. Under their visionary leadership, Fabrista has become synonymous with cutting-edge printing technologies, sustainable practices, and a commitment to customer satisfaction. Beyond business success, he actively engages in philanthropy, giving back to the community that has contributed to the company's growth. As Fabrista continues to thrive, he remains dedicated to innovation, quality, and positive social impact.</p>
  </div>

  <div class="blank"></div>

  <div class="banner">
    <img src="/media/img/23/whatsapp1.jpeg" id="wh-img" alt="Image">
  </div>
</div>

<!--<section id="lalit" class="bg-light">
  <div class="container">
      <div class="grid">
          <div class="center">
              <img src="" id="lalit" alt="Image">
          </div>
          <div>
              <h2>Lalit Sanyanshiv</h2>
              <p> Meet Mr. Lalit Sanyashiv, the creative force and entrepreneur behind Fabrista. With a passion for innovation and a background in Graphic Design, he transformed graphics into a leader in the apparel industry. Known for cutting-edge printing technologies and sustainable practices, he emphasizes customer satisfaction and personalized experiences. Beyond business success, he is committed to giving back to the community through philanthropic initiatives. he remains the driving force behind the brand's success, embodying a perfect blend of vision, determination, and social responsibility.</p>
          </div>
      </div>
  </div>
</section>-->

<div class="whatsapp-grid">

  <div class="banner">
    <img src="/media/img/23/whatsapp1.jpeg" id="wh-img" alt="Image">
  </div>

  <div class="blank"></div>

  <div class="whatsapp">
    <h2>Mr. Lalit Sanyanshiv</h2>
    <p> Meet Mr. Lalit Sanyashiv, the creative force and entrepreneur behind Fabrista. With a passion for innovation and a background in Graphic Design, he transformed graphics into a leader in the apparel industry. Known for cutting-edge printing technologies and sustainable practices, he emphasizes customer satisfaction and personalized experiences. Beyond business success, he is committed to giving back to the community through philanthropic initiatives. he remains the driving force behind the brand's success, embodying a perfect blend of vision, determination, and social responsibility.</p>
  </div>

</div>




  <!--Footer Start-->
  <div class="footer">
    <div class="footer-col">
      <h1>Company</h1>
      <h4><a href="/about" id="footer-about">About</a></h4>
      <h4>T-shirt Idea</h4>
      <h4><a href="/blog" id="footer-blog">Blog</a></h4>
      <h4>Work With Us</h4>
      <h4>Privacy & Conditions</h4>
      <h4>Sitemap</h4>
    </div>
    <div class="footer-col">
      <h1>Customer Support</h1>
      <h4>Contact us</h4>
      <h4>FAQ's</h4>
      <h4>Track My Order</h4>
      <h4>Shipping & Return Policy</h4>
      <h4>Wash Care Instructions</h4>
    </div>
    <div class="footer-col">
      <h1>Contact us</h1>
      <p>Fabrista Clothing Pvt. Ltd. <br>Vishram Bag Lane <br>Main Road <br>Nashik 422001</p>
      <h4>Phone: +91 8669532966</h4>
      <h4>Email: fabristaclothing@gmail.com</h4>
    </div>
    <div class="footer-col">
      <h1>Important Link</h1>
      <h4><a href="/polo" id="footer-ptshirt">Polo T-shirt</a></h4>
      <h4><a href="/round_neck" id="footer-rntshirt">Round Neck T-shirt</a></h4>
      <h4><a href="/jersey" id="footer-jersey">Sports Jersey</a></h4>
      <h4><a href="CoupleTshirt.html" id="footer-couptshirts">Couple T-shirt</a></h4>
      <h4><a href="ideas.html" id="footer-ideas">T-shirt Ides's</a></h4>
      <h4><a href="/hoodie" id="footer-hoodie">Hoodies</a></h4>
      <h4><a href="/cap" id="footer-hoodie">Caps</a></h4>
      <h4><a href="/screen" id="footer-screen">Screen Printing</a></h4>
      <h4><a href="/sublimation" id="footer-Sublimation">Sublimation Print</a></h4>
      <h4><a href="/embroidery" id="footer-embroidery">Embroidery</a></h4>
      <h4><a href="/dtf" id="footer-dtf">DTF Print</a></h4>
    </div>
  </div>
  <!--Footer End-->

  
  <script>
    function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("header").style.marginLeft = "250px";
    }
    
    function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("header").style.marginLeft= "0";
    }
  </script>
  
</body>
</html>