<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/aboutt.css">
    <title>About Us</title>
</head>
<body>

  <!-- <header class="navbar">
    <img src="logoblackH.png" alt="logo" id="logo">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/shop">Shop</a></li>
    </ul>
    <img src="WhatsApp Image 2023-12-16 at 19.34.44.jpeg" alt="logo1" id="logo">
  
  
    <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="shop.html">Shop</a></li>
        </div>
    </div>
  </header> -->



  <!-- --------------------------- -->

<div class="header">
  <div class="header-left">
      <a href="#" id="title"><img src="/media/img/23/logoblackH.png" alt="logo" id="logo" class="headerlogo"></a>
  </div>
  <div class="header-mid">
    <a href="/">Home</a>
    <a href="/product">Product</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <!--<a href="/shop">Shop</a>-->
  </div>
  <div class="header-right">
      <div class="header-left">
        <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
    </div>
  </div>
</div>

<!-- mobile view  -->

<div class="header-1">
  <div class="header-left">
    <a href="#" id="title"><img src="/media/img/23/logoblackH.png"alt="logo" id="logo" class="headerlogo"></a>
</div>
  <div id="sidebar" class="mobile-sidebar" style="width: 0px;">
      <div class="">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
      <div class="">
          <a href="index.html">Home</a>
          <a href="product.html">Product</a>
          <a href="about.html">About</a>
          <a href="/blog">Blog</a>
          <!--<a href="shop.html">Shop</a>-->
          <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg" alt="logo1" id="logo1" class="headerlogo"></a>
      </div>
  </div>
  <div id="header" style="margin-left: 0px;">
      <button class="openbtn" onclick="openNav()">☰</button>
  </div>
</div>

<!-- mobile view end  -->

<!-- --------------------------------- -->
  
  <!--navbar end-->





 <!--<div class="shop-img">
  <img src="shop.jpg" alt="Shop Image">
 </div>-->

 <section id="aboutus" class="bg-light">
  <div class="container">
      <div class="grid">
          <div class="center">
              <img src="shop.jpg" id="about">
          </div>
          <div class="grid-text">
              <h2>About Us</h2>
              <p>Welcome to Fabrista, your ultimate destination for exceptional T-shirt manufacturing, printing, and design. At the heart of our company is a passion for creativity, quality, and personalized expression.</p>
              <p> Customization is Key: We believe that every T-shirt should tell a story. Our custom design services empower you to turn your ideas into wearable art. Whether it's a single personalized piece or a bulk order for your brand, we provide endless possibilities for customization. Printing Mastery: Explore the art of printing with Fabrista. Our printing techniques, including screen printing, sublimation, and embroidery, add depth and character to each T-shirt. Immerse yourself in a world of vibrant colors and intricate details.</p>
          </div>
      </div>
  </div>
</section>

<section dir="rtl" id="vishal" class="bg-light">
  <div class="container">
      <div class="grid">
          <div class="center">
              <img src="shop.jpg" id="vishalimg" alt="Image">
          </div>
          <div dir="ltr" class="grid-text">
              <h2>Vishal Chaudhari</h2>
              <p>Welcome to Fabrista, your ultimate destination for exceptional T-shirt manufacturing, printing, and design. At the heart of our company is a passion for creativity, quality, and personalized expression.</p>
              <p> Customization is Key: We believe that every T-shirt should tell a story. Our custom design services empower you to turn your ideas into wearable art. Whether it's a single personalized piece or a bulk order for your brand, we provide endless possibilities for customization. Printing Mastery: Explore the art of printing with [Your Company Name]. Our printing techniques, including screen printing, sublimation, and embroidery, add depth and character to each T-shirt. Immerse yourself in a world of vibrant colors and intricate details.</p>
          </div>
      </div>
  </div>
</section>

<section id="lalit" class="bg-light">
  <div class="container">
      <div class="grid">
          <div class="center">
              <img src="shop.jpg" id="lalitimg" alt="Image">
          </div>
          <div class="grid-text">
              <h2>Lalit Sanyanshiv</h2>
              <p>Welcome to Fabrista, your ultimate destination for exceptional T-shirt manufacturing, printing, and design. At the heart of our company is a passion for creativity, quality, and personalized expression.</p>
              <p> Customization is Key: We believe that every T-shirt should tell a story. Our custom design services empower you to turn your ideas into wearable art. Whether it's a single personalized piece or a bulk order for your brand, we provide endless possibilities for customization. Printing Mastery: Explore the art of printing with [Your Company Name]. Our printing techniques, including screen printing, sublimation, and embroidery, add depth and character to each T-shirt. Immerse yourself in a world of vibrant colors and intricate details.</p>
          </div>
      </div>
  </div>
</section>






<!--Footer Start-->
<div class="footer">
  <div class="footer-col">
    <h1>Company</h1>
    <h4><a href="about.html" id="footer-about">About</a></h4>
    <h4>T-shirt Idea</h4>
    <h4><a href="blog.html" id="footer-blog">Blog</a></h4>
    <h4>Work With Us</h4>
    <h4>Privacy & Conditions</h4>
    <h4>Sitemap</h4>
  </div>
  <div class="footer-col">
    <h1>Customer Support</h1>
    <h4>Contact us</h4>
    <h4>FAQ's</h4>
    <h4>Track My Order</h4>
    <h4>Shipping & Return Policy</h4>
    <h4>Wash Care Instructions</h4>
  </div>
  <div class="footer-col">
    <h1>Contact us</h1>
    <p>Fabrista Clothing Pvt. Ltd. <br>Shop No. A5, Dhondu Amba <br>Wholesale Market, Dahipool <br>Nashik 422001</p>
    <h4>Phone: +91 9604907960</h4>
    <h4>Email: <a href='mailto:vishal@athlifox.com'>vishal@athlifox.com</a></h4>
  </div>
  <div class="footer-col">
    <h1>Important Link</h1>
    <h4><a href="/product" id="footer-ptshirt">Polo T-shirt</a></h4>
    <h4><a href="/product" id="footer-rntshirt">Round Neck T-shirt</a></h4>
    <h4><a href="/product" id="footer-jersey">Sports Jersey</a></h4>
    <h4><a href="/product" id="footer-couptshirts">Couple T-shirt</a></h4>
    <h4><a href="/product" id="footer-ideas">T-shirt Ides's</a></h4>
    <h4><a href="/product" id="footer-hoodie">Hoodies</a></h4>
    <h4><a href="/product" id="footer-screen">Screen Printing</a></h4>
    <h4><a href="/product" id="footer-Sublimation">Sublimation Print</a></h4>
    <h4><a href="/product" id="footer-embroidery">Embroidery</a></h4>
    <h4><a href="/product" id="footer-dtf">DTF Print</a></h4>
  </div>
</div>
<!--Footer End-->


<script>
  function openNav() {
      document.getElementById("sidebar").style.width = "250px";
      document.getElementById("header").style.marginLeft = "250px";
  }
  
  function closeNav() {
      document.getElementById("sidebar").style.width = "0";
      document.getElementById("header").style.marginLeft= "0";
  }
</script>

</body>
</html>