<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/indexx.css">

  <title>Fabrista clothing Pvt. Ltd.</title>
</head>

<body>


<!-- --------------------------- -->

<div class="header">
  <div class="header-left">
      <a href="#" id="title"><img src="/media/img/23/logoblackH.png" alt="logo" id="logo" class="headerlogo"></a>
  </div>
  <div class="header-mid">
    <a href="/">Home</a>
    <a href="/product">Product</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </div>
  <div class="header-right">
      <div class="header-left">
        <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
    </div>
  </div>
</div>

<!-- mobile view  -->

<div class="header-1">
  <div class="header-left">
    <a href="#" id="title"><img src="/media/img/23/logoblackH.png"  alt="logo" id="logo" class="headerlogo"></a>
</div>
  <div id="sidebar" class="mobile-sidebar" style="width: 0px;">
      <div class="">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
      <div class="">
          <a href="/">Home</a>
          <a href="/product">Product</a>
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
      </div>
  </div>
  <div id="header" style="margin-left: 0px;">
      <button class="openbtn" onclick="openNav()">☰</button>
  </div>
</div>

<!-- mobile view end  -->

<!-- --------------------------------- -->




  <!-- <header class="navbar">

    <img src="logoblackH.png" alt="logo" id="logo">
 
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/shop">Shop</a></li>
    </ul>

      <a href="tel:7263863393">
        <a href="#"><img
        src="WhatsApp_Image_2023-12-16_at_19.34.44.jpeg" alt="logo1"
        id="logo1"> </a>
      <a href="/login"><i class="fa-solid fa-user" id="user"></i>
        <button name="logout" class="logout">Logout</button>
  

    <div class="toggle_btn">
      <i class="fa-solid fa-bars"></i>
      <div class="dropdown_menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="product.html">Product</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="shop.html">Shop</a></li>
      </div>
    </div>
  </header> -->

  <!--navbar end-->


  <!--Banner-->
  <div>
      <img src="/media/img/23/Banner.jpeg" id="banner-img" class="banner-img"
        alt="Image">
  </div>

  <!--Banner end-->



  <div class="trusted-by">

    <h1>Trusted by<br>10,000+ Customers</h1>
<div class="trusted-content">
    <div class="trusted-logo">
      <img src="/media/img/23/sula-wines.png" alt="logo" id="t-logo1">
    </div>

    <div class="trusted-logo">
      <img src="/media/img/23/mahindra.png"  alt="logo" id="t-logo8">
    </div>

    <div class="trusted-logo">
      <img src="/media/img/23/Ashoka_University.png" alt="logo" id="t-logo3">
    </div>

    <div class="trusted-logo">
      <img src="/media/img/23/godrej.png" alt="logo" id="t-logo6">
    </div>

    <div class="trusted-logo">
      <img src="/media/img/23/CEAT.png" alt="logo" id="t-logo5">
    </div>

    <div class="trusted-logo">
      <img src="/media/img/23/DRDO.png" alt="logo" id="t-logo4">
    </div>
  </div>

  </div>



  <section id="prod" class="product">
    <div class="pAndS">
      Products & Services
    </div>
  </section>

  <section>
   
<div class="card-container">
      <div class="card">
        <a href="/round_neck"><img
          src="/media/img/24/Navy_Front_enQNumG.png"
            alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">Round Neck T-shirt</div>
        </div>
      </div>

      <div class="card">
        <a href="/polo"><img
          src="/media/img/24/Maroon_Front_Jpx14CY.jpg"
            alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">Polo T-shirt</div>
        </div>
      </div>

      <div class="card">
        <a href="/jersey">
          <img src="/media/img/24/jersey.jpg"  alt="Product 3" id="jersey"></a>
        <div class="card-content">
          <div class="card-title">Sports Jersey</div>

        </div>
      </div>

      <div class="card">
        <a href="/hoodie"><img src="/media/img/24/Untitled_design_4.jpg" alt="Product 4"></a>
        <div class="card-content">
          <div class="card-title">Hoodie</div>

        </div>
      </div>

      <div class="card">
        <a href="/cap"><img src="/media/img/24/cap_2.png" alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">Cap</div>
          <!--<div class="card-description">Description....</div>
            <div class="card-price">Striting from...Rs</div>-->
        </div>
      </div>

      <div class="card">
        <a href="/screen"><img src="/media/img/24/screen.png" alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">Screen Printing</div>
        </div>
      </div>

      <div class="card">
        <a href="/sublimation"><img src="/media/img/24/sublimation.png" alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">Sublimation Print</div>

        </div>
      </div>

      <div class="card">
        <a href="/embroidery"><img src="/media/img/24/embroidery.png"  alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">Embroidery</div>

        </div>
      </div>

      <div class="card">
        <a href="/dtf"><img src="/media/img/24/dtf.png" alt="Product 1"></a>
        <div class="card-content">
          <div class="card-title">DTF Print</div>

        </div>
      </div>
      </div>
  </section>



  <div class="why">
    Why our customers trust us !
  </div>

  <section>
    <div class="container2">
      <div class="card01">
        <img src="/media/img/23/Quality.jpg" alt="Product 1">
        <div class="card-content01">
          <div class="card-title01">Quality Products</div>
        </div>
      </div>

      <div class="card01">
        <img src="/media/img/23/assistance.png" alt="Product 2">
        <div class="card-content01">
          <div class="card-title01">Designing Assistance</div>
        </div>
      </div>

      <div class="card01">
        <img src="/media/img/23/prising.png" alt="Product 3">
        <div class="card-content01">
          <div class="card-title01">Transparent Prising</div>
        </div>
      </div>



      <div class="card01">
        <img src="/media/img/23/service.jpg" alt="Product 1">
        <div class="card-content02">
          <div class="card-title01">Professional Service</div>
        </div>
      </div>

      <div class="card01">
        <img src="/media/img/23/tracking.jpg" alt="Product 2">
        <div class="card-content02">
          <div class="card-title01">Hassle Free Order Placement & Tracking</div>
        </div>
      </div>

      <div class="card01">
        <img src="/media/img/23/delivery.jpg" alt="Product 3">
        <div class="card-content01">
          <div class="card-title01">Ontime Dispatch</div>
        </div>
      </div>
  </section>

  <!--<section>
    <div class="container2">
        <div class="card02">
            <img src="service.jpg" alt="Product 1">
            <div class="card-content02">
              <div class="card-title02">Professional Service</div>
            </div>
        </div>
    
        <div class="card02">
          <img src="tracking.jpg" alt="Product 2">
          <div class="card-content02">
            <div class="card-title02">Hassle Free Order Placement & Tracking</div>
          </div>
        </div>
    
        <div class="card02">
          <img src="delivery.jpg" alt="Product 3">
          <div class="card-content02">
            <div class="card-title02">Ontime Dispatch</div>
          </div>
     </div>
    </section>-->



  <!-- <section id="aboutus" class="bg-light">
    <div class="about-container">
        <div class="about-grid">
            <div class="center">
                <img src="about.jpg" id="about">
            </div>
            <div>
                <h2>About Us</h2>
                <p>Welcome to Fabrista, your ultimate destination for exceptional T-shirt manufacturing, printing, and design. At the heart of our company is a passion for creativity, quality, and personalized expression.</p>
                <p> Customization is Key: We believe that every T-shirt should tell a story. Our custom design services empower you to turn your ideas into wearable art. Whether it's a single personalized piece or a bulk order for your brand, we provide endless possibilities for customization. Printing Mastery: Explore the art of printing with [Your Company Name]. Our printing techniques, including screen printing, sublimation, and embroidery, add depth and character to each T-shirt. Immerse yourself in a world of vibrant colors and intricate details.</p>
            </div>
        </div>
    </div>
</section>

<footer id="contact" class="bg-light">
    <div class="cnt-container">
        <div class="cnt-grid">
            <div class="center">
                <img src='map.jpg' id="map">
            </div>
            <div>
                <h2>Contact Us</h2>
                <p class="cnt-p">Fabrista Clothing Pvt. Ltd. Shop No. A5, Dhondu Aamba Wholesale Market, Dahipool, Nashik 422009</p>
                <p class="cnt-p1">Phone : +91 9604907960</p>
                <p class="cnt-p2">Email : vishal@athlifox.com</p>
            </div>
        </div>
    </div>
</footer> -->
  <div class="hello">
    <h1>Some of Our Happy Customers</h1>
    <h4>Get inspired from some of our happy customers showing off their custom apparel</h4>
  </div>

  <div class="slideshow-container">

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img8.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img10.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img7.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img5.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img6.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img4.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img9.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust2.jpg" style="width:100%; height:50%;">
    </div>

    <div class="mySlides fade">
      <img src="/media/img/23/cust-img3.jpg" style="width:100%; height:50%;">
    </div>

    <!--<div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="cust10.jpg" style="width:100%; height:50%;">
  </div>-->

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

  </div>
  <br>

  <!--<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>-->

  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>







  <div class="whatsapp-grid">
    <div class="whatsapp">
      <h1>Chat with a real expert</h1>
      <p>Live chat with a product specialist<br>or speak one-on-one with our experts <br> by calling +91 8669532966</p>
      <div class="whatsapp-button">
      <button type="button" name="whatsapp" id="whatsapp"><a href="https://wa.me/919604907960">WhatsApp</a></button>
    </div>
    </div>

    <div class="blank"></div>

    <!--<div class="quote_btn">
    <button type="button" name="quote" id="quote" onclick="document.getElementById('quote').style.display='block'">Get a free qoute</button>
  </div>-->
    <div class="banner">
      <img src="/media/img/23/whatsapp1.jpeg" id="wh-img" alt="Image">
    </div>
  </div>

  <!--<div class="quote-grid">
    <div class="quote">-->
      <div class="s2" id="signup">
        <form method="POST" class="s2-content" action="/quote/" enctype="multipart/form-data">
          {% csrf_token %}
          <h1>Get a free quote</h1>
          {% include "messages.html" %} 
          <div class="width:100%; height">

            <label for="name" name="name">Name:</label>
            <input type="text" placeholder="Enter ypur full name" name="name" id="name" required>

            <label for="address" name="address">Address:</label>
            <input type="text" placeholder="Enter your address" name="address" id="address" required>

            <label for="contact_number" name="contact_number">Contact Number:</label>
            <input type="text" placeholder="Enter your number" name="contact_number" id="contact_number" required="{10}">

            <label for="email" name="email">Email:</label>
            <input type="email" placeholder="Enter your email" name="email" id="email" required>

            <label for="product_type" name="product_type">Requirements:</label>
            <input type="text" placeholder="Describe your requirements" name="product_type" id="product_type" required>

          </div>


            <div class="container grid-2">
              <div width="100%">
              <button type="submit" class="signupbtn">Get a free quote</button>
              </div>
            </div>
  
        </form>
      </div>
    <!--</div>-->
    <!--<div class="banner">
      <img src="whatsapp1.jpeg" id="banner-img" alt="Image">
    </div>-->
  


  <div class="cust-footer">
    <h1>You're in Good Company</h1>
    <h4>10,000+ happy clients, big or small orders, we do it all.</h4>
  </div>

  <div class="footer-cust-logo">
    <div class="cust-logo">
      <img src="/media/img/23/apex.png" alt="logo" id="t-logo1">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/samsonite.png" alt="logo" id="t-logo2">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/dancefit.png" alt="logo" id="t-logo3">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/apolo.png" alt="logo" id="t-logo9">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/bhawanidrip.png" alt="logo" id="t-logo5">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/bank-of-baroda.png" alt="logo" id="t-logo6">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/Ceramic_Pro.png" alt="logo" id="t-logo9">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/HAL.png" alt="logo" id="t-logo8">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/chahapura.png" alt="logo" id="t-logo8">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/go_green.png" alt="logo" id="t-logo8">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/diganta-swaraj-foundation.png"  alt="logo" id="t-logo8">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/electronica.png" alt="logo" id="t-logo8">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/FlyLab.png" alt="logo" id="t-logo9">
    </div>

    <div class="cust-logo">
      <img src="/media/img/23/bayerscrop.png " alt="logo" id="t-logo8">
    </div>
  </div>




  <!--Footer Start-->
  <div class="footer">
    <div class="footer-col">
      <h1>Company</h1>
      <h4><a href="/about" id="footer-about">About</a></h4>
      <h4>T-shirt Idea</h4>
      <h4><a href="/blog" id="footer-blog">Blog</a></h4>
      <h4>Work With Us</h4>
      <h4>Privacy & Conditions</h4>
      <h4>Sitemap</h4>
    </div>
    <div class="footer-col">
      <h1>Customer Support</h1>
      <h4>Contact us</h4>
      <h4>FAQ's</h4>
      <h4>Track My Order</h4>
      <h4>Shipping & Return Policy</h4>
      <h4>Wash Care Instructions</h4>
    </div>
    <div class="footer-col">
      <h1>Contact us</h1>
      <p>Fabrista Clothing Pvt. Ltd. <br>Vishram Bag Lane <br>Main Road <br>Nashik 422001</p>
      <h4>Phone: +91 8669532966</h4>
      <h4>Email: fabristaclothing@gmail.com</h4>
    </div>
    <div class="footer-col">
      <h1>Important Link</h1>
      <h4><a href="/product" id="footer-ptshirt">Polo T-shirt</a></h4>
      <h4><a href="/product" id="footer-rntshirt">Round Neck T-shirt</a></h4>
      <h4><a href="/product" id="footer-jersey">Sports Jersey</a></h4>
      <h4><a href="/product" id="footer-couptshirts">Couple T-shirt</a></h4>
      <h4><a href="/product" id="footer-ideas">T-shirt Ides's</a></h4>
      <h4><a href="/product" id="footer-hoodie">Hoodies</a></h4>
      <h4><a href="/product" id="footer-hoodie">Caps</a></h4>
      <h4><a href="/product" id="footer-screen">Screen Printing</a></h4>
      <h4><a href="/product" id="footer-Sublimation">Sublimation Print</a></h4>
      <h4><a href="/product" id="footer-embroidery">Embroidery</a></h4>
      <h4><a href="/product" id="footer-dtf">DTF Print</a></h4>
    </div>
  </div>
  <!--Footer End-->

  <!--</div>-->

  <script>
    function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("header").style.marginLeft = "250px";
    }
    
    function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("header").style.marginLeft= "0";
    }
  </script>

</body>

</html>