<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product.css">
    <title>Products</title>
</head>
<body>

<!-- --------------------------- -->

<div class="header">
  <div class="header-left">
      <a href="#" id="title"><img src="/media/img/23/logoblackH.png" alt="logo" id="logo" class="headerlogo"></a>
  </div>
  <div class="header-mid">
    <a href="/">Home</a>
    <a href="/product">Product</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </div>
  <div class="header-right">
      <div class="header-left">
        <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
    </div>
  </div>
</div>

<!-- mobile view  -->

<div class="header-1">
  <div class="header-left">
    <a href="#" id="title"><img src="/media/img/23/logoblackH.png"  alt="logo" id="logo" class="headerlogo"></a>
</div>
  <div id="sidebar" class="mobile-sidebar" style="width: 0px;">
      <div class="">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
      <div class="">
          <a href="/">Home</a>
          <a href="/product">Product</a>
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="#" id="title"><img src="/media/img/23/WhatsApp_Image_2023-12-16_at_19.34.44.jpeg"  alt="logo1" id="logo1" class="headerlogo"></a>
      </div>
  </div>
  <div id="header" style="margin-left: 0px;">
      <button class="openbtn" onclick="openNav()">☰</button>
  </div>
</div>

<!-- mobile view end  -->

<!-- --------------------------------- -->
<section id="prod" class="product">
  <div class="pAndS">
    Products & Services
  </div>
</section>

<section>
 
<div class="card-container">
    <div class="card">
      <a href="/round_neck"><img
        src="/media/img/24/Navy_Front_enQNumG.png"
          alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">Round Neck T-shirt</div>
      </div>
    </div>

    <div class="card">
      <a href="/polo"><img
        src="/media/img/24/Maroon_Front_Jpx14CY.jpg"
          alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">Polo T-shirt</div>
      </div>
    </div>

    <div class="card">
      <a href="/jersey">
        <img src="/media/img/24/jersey.jpg"  alt="Product 3" id="jersey"></a>
      <div class="card-content">
        <div class="card-title">Sports Jersey</div>

      </div>
    </div>

    <div class="card">
      <a href="/hoodie"><img src="/media/img/24/Untitled_design_4.jpg" alt="Product 4"></a>
      <div class="card-content">
        <div class="card-title">Hoodie</div>

      </div>
    </div>

    <div class="card">
      <a href="/cap"><img src="/media/img/24/cap_2.png" alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">Cap</div>
        <!--<div class="card-description">Description....</div>
          <div class="card-price">Striting from...Rs</div>-->
      </div>
    </div>

    <div class="card">
      <a href="/screen"><img src="/media/img/24/screen.png" alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">Screen Printing</div>
      </div>
    </div>

    <div class="card">
      <a href="/sublimation"><img src="/media/img/24/sublimation.png" alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">Sublimation Print</div>

      </div>
    </div>

    <div class="card">
      <a href="/embroidery"><img src="/media/img/24/embroidery.png"  alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">Embroidery</div>

      </div>
    </div>

    <div class="card">
      <a href="/dtf"><img src="/media/img/24/dtf.png" alt="Product 1"></a>
      <div class="card-content">
        <div class="card-title">DTF Print</div>

      </div>
    </div>
    </div>
</section>


  <!--Footer Start-->
  <div class="footer">
    <div class="footer-col">
      <h1>Company</h1>
      <h4><a href="/about" id="footer-about">About</a></h4>
      <h4>T-shirt Idea</h4>
      <h4><a href="/blog" id="footer-blog">Blog</a></h4>
      <h4>Work With Us</h4>
      <h4>Privacy & Conditions</h4>
      <h4>Sitemap</h4>
    </div>
    <div class="footer-col">
      <h1>Customer Support</h1>
      <h4>Contact us</h4>
      <h4>FAQ's</h4>
      <h4>Track My Order</h4>
      <h4>Shipping & Return Policy</h4>
      <h4>Wash Care Instructions</h4>
    </div>
    <div class="footer-col">
      <h1>Contact us</h1>
      <p>Fabrista Clothing Pvt. Ltd. <br>Vishram Bag Lane <br>Main Road <br>Nashik 422001</p>
      <h4>Phone: +91 8669532966</h4>
      <h4>Email: fabristaclothing@gmail.com</h4>
    </div>
    <div class="footer-col">
      <h1>Important Link</h1>
      <h4><a href="/product" id="footer-ptshirt">Polo T-shirt</a></h4>
      <h4><a href="/product" id="footer-rntshirt">Round Neck T-shirt</a></h4>
      <h4><a href="/product" id="footer-jersey">Sports Jersey</a></h4>
      <h4><a href="/product" id="footer-couptshirts">Couple T-shirt</a></h4>
      <h4><a href="/product" id="footer-ideas">T-shirt Ides's</a></h4>
      <h4><a href="/product" id="footer-hoodie">Hoodies</a></h4>
      <h4><a href="/product" id="footer-hoodie">Caps</a></h4>
      <h4><a href="/product" id="footer-screen">Screen Printing</a></h4>
      <h4><a href="/product" id="footer-Sublimation">Sublimation Print</a></h4>
      <h4><a href="/product" id="footer-embroidery">Embroidery</a></h4>
      <h4><a href="/product" id="footer-dtf">DTF Print</a></h4>
    </div>
  </div>
  <!--Footer End-->

  <!--</div>-->

  <script>
    function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("header").style.marginLeft = "250px";
    }
    
    function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("header").style.marginLeft= "0";
    }
  </script>



</body>
</html>