<!--name = models.CharField(max_length=100)
address = models.TextField()
contact_number = models.CharField(max_length=10)
email = models.EmailField()
product_type = models.CharField(max_length=100)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/quotedata.css">
    <title>Quote Form Data</title>
</head>
<body>
    <h1>Quote Form Data</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Requirements</th>
        </tr>
        {% for i in quote %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.address}}</td>
            <td>{{i.contact_number}}</td>
            <td>{{i.email}}</td>
            <td>{{i.product_type}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>