<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/screen.css">
    <title>Screen Printing</title>
</head>
<body>

  <header class="navbar">
    <img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\logoblackH.png" alt="logo" id="logo">
    <li><a href="/">Home</a></li>
    <li><a href="/product">Product</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/shop">Shop</a></li>
    <!--<a href="tel:7263863393">--><img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\WhatsApp Image 2023-12-16 at 19.34.44.jpeg" alt="logo1" id="logo">
  
  
    <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="shop.html">Shop</a></li>
        </div>
    </div>
  </header>
  
  <!--navbar end-->




 <section id="prod" class="product">
  <div class="pAndS">
    Screen Printing
</section>

<div class="container1">

  <div class="card">
      <a href=""><img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\polo.jpg" alt="Product 1"></a>
      <div class="card-content">
          <div class="card-title">Screen Printing</div>
          <div class="card-description">Description of Product 1.</div>
          <div class="card-price">Striting from...Rs.</div>
      </div>
  </div>      

  <div class="card">
    <a href=""><img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\polo.jpg" alt="Product 1"></a>
    <div class="card-content">
      <div class="card-title">Screen Printing</div>
      <div class="card-description">Description of Product 2.</div>
      <div class="card-price">Striting from...Rs</div>
    </div>
  </div>

  <div class="card">
    <a href=""><img src="polo.jpg" alt="Product 1"></a>
    <div class="card-content">
      <div class="card-title">Screen Printing</div>
      <div class="card-description">Description of Product 3.</div>
      <div class="card-price">Striting from...Rs</div>
    </div>
  </div>

  <div class="card">
    <img src="polo.jpg" alt="Product 4">
    <div class="card-content">
      <div class="card-title">Screen Printing</div>
      <div class="card-description">Description of Product 4.</div>
      <div class="card-price">Striting from...Rs</div>
    </div>
  </div>
</div>


<section>
  <div class="container1">
      <div class="card2">
        <a href=""><img src="C:\Users\suyas\OneDrive\Desktop\Fabrista\static\polo.jpg" alt="Product 1"></a>
        <div class="card2-content2">
          <div class="card2-title2">Screen Printing</div>
          <div class="card2-description2">Description...</div>
          <div class="card2-price2">Striting from...Rs</div>
        </div>
      </div>
  
      <div class="card2">
        <img src="polo.jpg" alt="Product 2">
        <div class="card2-content2">
          <div class="card2-title2">Screen Printing</div>
          <div class="card2-description2">Description...</div>
          <div class="card2-price2">Striting from...Rs</div>
        </div>
      </div>
  
      <div class="card2">
        <img src="polo.jpg" alt="Product 3">
        <div class="card2-content2">
          <div class="card2-title2">Screen Printing</div>
          <div class="card2-description2">Description...</div>
          <div class="card2-price2">Striting from...Rs</div>
        </div>
      </div>
  
      <div class="card2">
        <img src="polo.jpg" alt="Product 4">
        <div class="card2-content2">
          <div class="card2-title2">Screen Printing</div>
          <div class="card2-description2">Description....</div>
          <div class="card2-price2">Striting from...Rs</div>
        </div>
      </div>
    </div>
</section>



<!--Footer Start-->
<div class="footer">
  <div class="footer-col">
    <h1>Company</h1>
    <h4><a href="about.html" id="footer-about">About</a></h4>
    <h4>T-shirt Idea</h4>
    <h4><a href="blog.html" id="footer-blog">Blog</a></h4>
    <h4>Work With Us</h4>
    <h4>Privacy & Conditions</h4>
    <h4>Sitemap</h4>
  </div>
  <div class="footer-col">
    <h1>Customer Support</h1>
    <h4>Contact us</h4>
    <h4>FAQ's</h4>
    <h4>Track My Order</h4>
    <h4>Shipping & Return Policy</h4>
    <h4>Wash Care Instructions</h4>
  </div>
  <div class="footer-col">
    <h1>Contact us</h1>
    <p>Fabrista Clothing Pvt. Ltd. <br>Shop No. A5, Dhondu Amba <br>Wholesale Market, Dahipool <br>Nashik 422001</p>
    <h4>Phone: +91 9604907960</h4>
    <h4>Email: vishal@athlifox.com</h4>
  </div>
  <div class="footer-col">
    <h1>Important Link</h1>
    <h4><a href="PoloTshirt.html" id="footer-ptshirt">Polo T-shirt</a></h4>
    <h4><a href="RoundNeckTshirt.html" id="footer-rntshirt">Round Neck T-shirt</a></h4>
    <h4><a href="jersey.html" id="footer-jersey">Sports Jersey</a></h4>
    <h4><a href="CoupleTshirt.html" id="footer-couptshirts">Couple T-shirt</a></h4>
    <h4><a href="ideas.html" id="footer-ideas">T-shirt Ides's</a></h4>
    <h4><a href="hoodie.html" id="footer-hoodie">Hoodies</a></h4>
    <h4><a href="screen.html" id="footer-screen">Screen Printing</a></h4>
    <h4><a href="Sublimation.html" id="footer-Sublimation">Sublimation Print</a></h4>
    <h4><a href="embroidery.html" id="footer-embroidery">Embroidery</a></h4>
    <h4><a href="dtf.html" id="footer-dtf">DTF Print</a></h4>
  </div>
</div>
<!--Footer End-->
</body>
</html>